<div class="col-sm-6">
    <div class="dash-img-border dash-amber">
        <div class="row">
            <div class="col-sm-6">
                <div style="padding: 0 0px 0 19px;">
                    <span class="dash-title">MCA 11</span>
                </div>
                <img src="/images/CNC_MACHINE.png" class="img-responsive dash-img">
            </div>
            <div class="col-sm-6">
                <div class="dash-dasc-pad text-center">
                    <span class="dash-desc">Plant - Shop - Cell</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Power on Time: </span>
                    <span class="col-sm-5 dash-desc">00:42:00</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Running Time: </span>
                    <span class="col-sm-5 dash-desc">16:39:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cutting Time: </span>
                    <span class="col-sm-5 dash-desc">01:25:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Total Parts Count: </span>
                    <span class="col-sm-5 dash-desc">10185 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Current Status: </span>
                    <span class="col-sm-5 dash-desc">IDLE </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Exe Program Name: </span>
                    <span class="col-sm-5 dash-desc">undefined </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cycle Time: </span>
                    <span class="col-sm-5 dash-desc">null </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="dash-img-border dash-green">
        <div class="row">
            <div class="col-sm-6">
                <div style="padding: 0 0px 0 19px;">
                    <span class="dash-title">MCA 19</span>
                </div>
                <img src="/images/CNC_MACHINE.png" class="img-responsive dash-img">
            </div>
            <div class="col-sm-6">
                <div class="dash-dasc-pad text-center">
                    <span class="dash-desc">Plant - Shop - Cell</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Power on Time: </span>
                    <span class="col-sm-5 dash-desc">16:02:00</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Running Time: </span>
                    <span class="col-sm-5 dash-desc">16:39:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cutting Time: </span>
                    <span class="col-sm-5 dash-desc">22:26:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Total Parts Count: </span>
                    <span class="col-sm-5 dash-desc">19771 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Current Status: </span>
                    <span class="col-sm-5 dash-desc">PROD </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Exe Program Name: </span>
                    <span class="col-sm-5 dash-desc">undefined </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cycle Time: </span>
                    <span class="col-sm-5 dash-desc">null </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="dash-img-border dash-amber">
        <div class="row">
            <div class="col-sm-6">
                <div style="padding: 0 0px 0 19px;">
                    <span class="dash-title">MCA 27</span>
                </div><img src="/images/CNC_MACHINE.png" class="img-responsive dash-img">
            </div>
            <div class="col-sm-6">
                <div class="dash-dasc-pad text-center">
                    <span class="dash-desc">Plant - Shop - Cell</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Power on Time: </span>
                    <span class="col-sm-5 dash-desc">20:05:00</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Running Time: </span>
                    <span class="col-sm-5 dash-desc">16:39:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cutting Time: </span>
                    <span class="col-sm-5 dash-desc">00:01:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Total Parts Count: </span>
                    <span class="col-sm-5 dash-desc">12022 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Current Status: </span>
                    <span class="col-sm-5 dash-desc">IDLE </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Exe Program Name: </span>
                    <span class="col-sm-5 dash-desc">undefined </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">
                        Cycle Time:
                    </span><span class="col-sm-5 dash-desc">null </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="dash-img-border dash-amber">
        <div class="row">
            <div class="col-sm-6">
                <div style="padding: 0 0px 0 19px;">
                    <span class="dash-title">MCA 18</span>
                </div><img src="/images/CNC_MACHINE.png" class="img-responsive dash-img">
            </div>
            <div class="col-sm-6">
                <div class="dash-dasc-pad text-center">
                    <span class="dash-desc">Plant - Shop - Cell</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Power on Time: </span>
                    <span class="col-sm-5 dash-desc">17:28:00</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Running Time: </span>
                    <span class="col-sm-5 dash-desc">01:39:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cutting Time: </span>
                    <span class="col-sm-5 dash-desc">02:53:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Total Parts Count: </span>
                    <span class="col-sm-5 dash-desc">17592 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Current Status: </span>
                    <span class="col-sm-5 dash-desc">IDLE </span>
                </div><div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Exe Program Name: </span>
                    <span class="col-sm-5 dash-desc">undefined </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cycle Time: </span>
                    <span class="col-sm-5 dash-desc">null </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="dash-img-border dash-amber">
        <div class="row">
            <div class="col-sm-6">
                <div style="padding: 0 0px 0 19px;">
                    <span class="dash-title">MCA 20</span>
                </div>
                <img src="/images/CNC_MACHINE.png" class="img-responsive dash-img">
            </div>
            <div class="col-sm-6">
                <div class="dash-dasc-pad text-center">
                    <span class="dash-desc">Plant - Shop - Cell</span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Power on Time: </span>
                    <span class="col-sm-5 dash-desc">10:02:00</span>
                </div><div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right">Running Time: </span>
                    <span class="col-sm-5 dash-desc">16:39:00 </span>
                </div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cutting Time: </span>
                    <span class="col-sm-5 dash-desc">14:09:00 </span>
                </div><div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Total Parts Count: </span><span class="col-sm-5 dash-desc">11244 </span>
                </div>
                <div class="row dash-dasc-pad1"><span class="col-sm-7 dash-desc text-right"> Current Status: </span><span class="col-sm-5 dash-desc">IDLE </span></div>
                <div class="row dash-dasc-pad1"><span class="col-sm-7 dash-desc text-right"> Exe Program Name: </span><span class="col-sm-5 dash-desc">undefined </span></div>
                <div class="row dash-dasc-pad1">
                    <span class="col-sm-7 dash-desc text-right"> Cycle Time: </span><span class="col-sm-5 dash-desc">null </span>
                </div>
            </div>
        </div>
    </div>
</div>
